{% extends 'med/base.html' %}
{% load staticfiles %}
{% block content %}

<form action="" method="post" class="form-signin text-center">
    <img src="{% static 'img/22.svg' %}" alt="" class="mb-4 img-login">
    <h4>МедЦентр</h4>
    {% csrf_token %}
    {% if form.email.errors %}
        {{ form.email.errors }}
    {% endif %}
        <div class="form-group">
            <p>{{ form.email.label_tag }}</p>
            <p>{{ form.email }}</p>
        </div>
    <input type="submit" class="save-log btn btn-lg btn-info btn-lock" value="Сбросить пароль" />
</form>

{% endblock %}