{% extends 'med/base.html' %}
{% load bootstrap4 %}
{% block content %}
    <h2 class="main-header">{{ client.name }} {{ client.fam }}</h2>
    <p><b>Дата рождения:</b> {{ client.date_birthday }}</p>
    <p><b>Мед. карта:</b> <br><br> {{ client.med_card }}<br><br></p>
    <p><b>Дата последнего посещения:</b> {{ med.created_date|default:'Пациент еще не воспользовался услугами мед. центра!' }}</p>
    <br><br>

    <h3 class="main-header">Оказанные услуги</h3>
    {% bootstrap_pagination med_list %}
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <tbody>
                {% for med in med_list %}
                    <tr>
                        <td>
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-11 pre-inf">
                                        <b>Врач: </b><a href="#">{{ med.author.get_full_name }}</a>
                                        <pre class="pub_date"> - {{ med.published_date }}</pre>
                                    </div>
                                    <div class="col-sm-1 settin">
                                        <a class="btn-sm btn-default" href="{% url 'med_edit' pk=med.pk %}"><span class="far fa-edit"></span></a>
                                        <a class="btn-sm btn-default" href="{% url 'med_delete' pk=med.pk %}"><span class="far fa-trash-alt"></span></a>
                                    </div>
                                </div>

                                <h3><a href="{% url 'services:service_detail' pk=med.service.pk %}">{{ med.service.title }}</a> -- {{ med.service.price }} руб.</h3>

                                <p><b>Пациент: </b><a href="{% url 'clients:client_detail' pk=med.service.pk %}">{{ med.client.name }} {{ med.client.fam }}</a></p>
                                <p><b>Примечания: </b><br>{{ med.text|linebreaksbr }}</p>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% bootstrap_pagination med_list %}
    </div>
{% endblock %}